In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key

In [2]:
vacay_data_df = pd.read_csv("output_data/cities.csv")
vacay_data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,1610220991,-54.8000,-68.3000,13.00,47,75,4.63
1,1,Busselton,AU,1610220986,-33.6500,115.3333,19.44,80,92,2.24
2,2,Cabo San Lucas,MX,1610221022,22.8909,-109.9124,23.89,46,1,4.12
3,3,Hithadhoo,MV,1610220743,-0.6000,73.0833,27.09,77,100,5.12
4,4,Vanavara,RU,1610221503,60.3400,102.2797,-21.90,90,100,2.89

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = vacay_data_df[["Latitude", "Longitude"]]
humidity = vacay_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Narrow Data

**NOTE:**
Please note my data was extracted with celcius degrees thus the parameters were adjusted to narrow the data as requested in the homework

In [6]:
n_vacay_df = vacay_data_df.loc[(vacay_data_df["Max Temp"] < 35) & (vacay_data_df["Max Temp"] > 15) \
                                    & (vacay_data_df["Wind Speed"] < 10) \
                                    & (vacay_data_df["Cloudiness"] == 0)].dropna()
n_vacay_df

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Chabahar,IR,1610221504,25.2919,60.6430,16.53,42,0,3.57
21,21,San Quintín,MX,1610221509,30.4833,-115.9500,18.11,52,0,4.70
27,27,Saldanha,ZA,1610221032,-33.0117,17.9442,19.00,72,0,5.66
31,31,Cape Town,ZA,1610220793,-33.9258,18.4232,22.22,68,0,4.12
41,41,Lebu,CL,1610221055,-37.6167,-73.6500,15.75,61,0,4.07
48,48,Jalu,LY,1610221515,29.0331,21.5482,19.13,34,0,3.47
69,69,Awjilah,LY,1610221001,29.1081,21.2869,19.26,34,0,3.86
72,72,Aswān,EG,1610221519,24.0934,32.9070,18.72,26,0,4.01
73,73,Mount Isa,AU,1610221082,-20.7333,139.5000,25.00,53,0,2.06
82,82,Sikasso,ML,1610221521,10.9167,-7.0000,28.48,19,0,1.42
84,84,Saint-Leu,RE,1610221522,-21.1500,55.2833,25.00,83,0,4.63
85,85,Puerto Ayora,EC,1610220985,-0.7393,-90.3518,29.00,58,0,6.69
90,90,Mar del Plata,AR,1610221016,-38.0023,-57.5575,25.00,61,0,7.20
107,107,Bilma,NE,1610221526,18.6853,12.9164,21.80,22,0,2.31
109,109,Guerrero Negro,MX,1610220999,27.9769,-114.0611,21.39,41,0,3.57
123,123,Pisco,PE,1610221038,-13.7000,-76.2167,24.00,73,0,6.17
126,126,Caravelas,BR,1610221530,-17.7125,-39.2481,27.37,73,0,5.45
141,141,Yafran,LY,1610221533,32.0633,12.5286,20.40,29,0,9.69
148,148,Abu Dhabi,AE,1610221504,24.4667,54.3667,18.00,39,0,3.09
149,149,Cidreira,BR,1610221054,-30.1811,-50.2056,26.79,73,0,5.85
155,155,East London,ZA,1610220991,-33.0153,27.9116,25.00,69,0,7.72
161,161,Nālūt,LY,1610221537,30.3333,10.8500,21.51,22,0,7.87
172,172,Solenzo,BF,1610221539,12.1833,-4.0833,27.68,14,0,1.29
178,178,Jiwani,PK,1610221540,25.0500,61.7417,16.55,29,0,3.10
190,190,Port Augusta,AU,1610221543,-32.5000,137.7667,20.56,72,0,0.51
196,196,Rodolfo Sánchez Taboada,MX,1610221544,31.7167,-116.5667,17.78,64,0,0.89
205,205,Palestine,PS,1610221546,31.9216,35.2033,16.67,72,0,0.51
219,219,Sur,OM,1610221549,22.5667,59.5289,17.90,42,0,5.94
225,225,Port Lincoln,AU,1610221108,-34.7333,135.8667,20.51,67,0,4.68
245,245,Talcahuano,CL,1610221553,-36.7167,-73.1167,19.00,48,0,7.72
257,257,Lagdo,CM,1610221556,9.0500,13.7333,27.00,19,0,3.09
267,267,Tūkrah,LY,1610221558,32.5341,20.5791,20.36,44,0,3.68
273,273,Umluj,SA,1610221559,25.0213,37.2685,24.04,61,0,3.43
274,274,Bembèrèkè,BJ,1610221559,10.2283,2.6634,26.08,17,0,2.03
283,283,Chirongui,YT,1610221561,-12.9319,45.1483,25.00,94,0,1.03
307,307,Kununurra,AU,1610220896,-15.7667,128.7333,27.00,100,0,1.16
321,321,Beloha,MG,1610221568,-25.1667,45.0500,25.28,80,0,4.02
325,325,Yulara,AU,1610221569,-25.2406,130.9889,24.00,25,0,2.57
334,334,Palmares do Sul,BR,1610221570,-30.2578,-50.5097,28.90,54,0,6.38
336,336,Viedma,AR,1610220983,-40.8135,-62.9967,32.22,12,0,4.02
365,365,Abnūb,EG,1610221576,27.2696,31.1511,16.00,63,0,6.17
385,385,Ambāgarh Chauki,IN,1610221580,20.7833,80.7167,18.77,48,0,0.65
391,391,Valparaíso,CL,1610221581,-33.0393,-71.6273,22.00,46,0,4.63
411,411,Salalah,OM,1610220790,17.0151,54.0924,22.00,28,0,4.63
412,412,Soyo,AO,1610221105,-6.1349,12.3689,25.51,82,0,4.21
419,419,Mulegé,MX,1610221586,26.8833,-111.9833,23.69,20,0,3.07
424,424,Gaza,PS,1610221102,31.5000,34.4667,16.67,72,0,0.51

In [7]:
hotel_df = n_vacay_df[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                        City Country  Latitude  Longitude Hotel Name
11                  Chabahar      IR   25.2919    60.6430
21               San Quintín      MX   30.4833  -115.9500
27                  Saldanha      ZA  -33.0117    17.9442
31                 Cape Town      ZA  -33.9258    18.4232
41                      Lebu      CL  -37.6167   -73.6500
48                      Jalu      LY   29.0331    21.5482
69                   Awjilah      LY   29.1081    21.2869
72                     Aswān      EG   24.0934    32.9070
73                 Mount Isa      AU  -20.7333   139.5000
82                   Sikasso      ML   10.9167    -7.0000
84                 Saint-Leu      RE  -21.1500    55.2833
85              Puerto Ayora      EC   -0.7393   -90.3518
90             Mar del Plata      AR  -38.0023   -57.5575
107                    Bilma      NE   18.6853    12.9164
109           Guerrero Negro      MX   27.9769  -114.0611
123                    Pisco      PE  -13.7000   -76.2167
126                Caravelas      BR  -17.7125   -39.2481
141                   Yafran      LY   32.0633    12.5286
148                Abu Dhabi      AE   24.4667    54.3667
149                 Cidreira      BR  -30.1811   -50.2056
155              East London      ZA  -33.0153    27.9116
161                    Nālūt      LY   30.3333    10.8500
172                  Solenzo      BF   12.1833    -4.0833
178                   Jiwani      PK   25.0500    61.7417
190             Port Augusta      AU  -32.5000   137.7667
196  Rodolfo Sánchez Taboada      MX   31.7167  -116.5667
205                Palestine      PS   31.9216    35.2033
219                      Sur      OM   22.5667    59.5289
225             Port Lincoln      AU  -34.7333   135.8667
245               Talcahuano      CL  -36.7167   -73.1167
257                    Lagdo      CM    9.0500    13.7333
267                   Tūkrah      LY   32.5341    20.5791
273                    Umluj      SA   25.0213    37.2685
274                Bembèrèkè      BJ   10.2283     2.6634
283                Chirongui      YT  -12.9319    45.1483
307                Kununurra      AU  -15.7667   128.7333
321                   Beloha      MG  -25.1667    45.0500
325                   Yulara      AU  -25.2406   130.9889
334          Palmares do Sul      BR  -30.2578   -50.5097
336                   Viedma      AR  -40.8135   -62.9967
365                    Abnūb      EG   27.2696    31.1511
385          Ambāgarh Chauki      IN   20.7833    80.7167
391               Valparaíso      CL  -33.0393   -71.6273
411                  Salalah      OM   17.0151    54.0924
412                     Soyo      AO   -6.1349    12.3689
419                   Mulegé      MX   26.8833  -111.9833
424                     Gaza      PS   31.5000    34.4667

In [11]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key":g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

                        City Country  Latitude  Longitude Hotel Name
11                  Chabahar      IR   25.2919    60.6430
21               San Quintín      MX   30.4833  -115.9500
27                  Saldanha      ZA  -33.0117    17.9442
31                 Cape Town      ZA  -33.9258    18.4232
41                      Lebu      CL  -37.6167   -73.6500
48                      Jalu      LY   29.0331    21.5482
69                   Awjilah      LY   29.1081    21.2869
72                     Aswān      EG   24.0934    32.9070
73                 Mount Isa      AU  -20.7333   139.5000
82                   Sikasso      ML   10.9167    -7.0000
84                 Saint-Leu      RE  -21.1500    55.2833
85              Puerto Ayora      EC   -0.7393   -90.3518
90             Mar del Plata      AR  -38.0023   -57.5575
107                    Bilma      NE   18.6853    12.9164
109           Guerrero Negro      MX   27.9769  -114.0611
123                    Pisco      PE  -13.7000   -76.2167
126                Caravelas      BR  -17.7125   -39.2481
141                   Yafran      LY   32.0633    12.5286
148                Abu Dhabi      AE   24.4667    54.3667
149                 Cidreira      BR  -30.1811   -50.2056
155              East London      ZA  -33.0153    27.9116
161                    Nālūt      LY   30.3333    10.8500
172                  Solenzo      BF   12.1833    -4.0833
178                   Jiwani      PK   25.0500    61.7417
190             Port Augusta      AU  -32.5000   137.7667
196  Rodolfo Sánchez Taboada      MX   31.7167  -116.5667
205                Palestine      PS   31.9216    35.2033
219                      Sur      OM   22.5667    59.5289
225             Port Lincoln      AU  -34.7333   135.8667
245               Talcahuano      CL  -36.7167   -73.1167
257                    Lagdo      CM    9.0500    13.7333
267                   Tūkrah      LY   32.5341    20.5791
273                    Umluj      SA   25.0213    37.2685
274                Bembèrèkè      BJ   10.2283     2.6634
283                Chirongui      YT  -12.9319    45.1483
307                Kununurra      AU  -15.7667   128.7333
321                   Beloha      MG  -25.1667    45.0500
325                   Yulara      AU  -25.2406   130.9889
334          Palmares do Sul      BR  -30.2578   -50.5097
336                   Viedma      AR  -40.8135   -62.9967
365                    Abnūb      EG   27.2696    31.1511
385          Ambāgarh Chauki      IN   20.7833    80.7167
391               Valparaíso      CL  -33.0393   -71.6273
411                  Salalah      OM   17.0151    54.0924
412                     Soyo      AO   -6.1349    12.3689
419                   Mulegé      MX   26.8833  -111.9833
424                     Gaza      PS   31.5000    34.4667

In [10]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig